<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="col-md-4 col-md-offset-4 p-5">
        <h1>New review</h1>
        <form th:object="${review}" th:action="@{../savereview}" action="#" method="post">
            <input type="hidden" th:field="*{review_id}" class="form-control" />

            <div>
                <label class="form-label">Date:</label>
                <input type="text" th:field="*{postedDate}" />
            </div>

            <div>
                <label class="form-label">Book:</label>
                <select id="booklist" th:field="*{book}" class="form-select">
                    <option th:each="book: ${books}" th:value="${book.id}" th:text="${book.title}">
                    </option>
                </select>
            </div>

            <div>
                <label class="form-label">Review:</label>
                <textarea class="form-control" rows="3" th:field="*{reviewText}"></textarea></label>
                <p th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}">Review Text Error</p>
            </div>
            <div class="p-2">
                <input type="submit" class="btn btn-success" value="Save"></input>
            </div>
        </form>
        <div class="ps-2">
            <a th:href="@{/home}" class="btn btn-danger">Cancel</a>
        </div>
    </div>

</body>

</html>